@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

header {
  padding: 20px;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.links {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 400;
  word-wrap: break-word;
  text-align: left;
  margin-top: 10px;
  justify-content: space-between;
}

.processing {
  width: 100%;
  height: 80vh;
  object-fit: fill;
  align-items: center;
}

[grid-pad='2'] {
  padding: 1rem;
}

[grid-col='3'] {
  width: 25%;
}

[grid-col] {
  box-sizing: border-box;
}

.overlay1 {
  width: 100%;
  height: 90%;
  position: relative;
}

/* .overlay2 {
  z-index: 1;
  position: absolute;
  left: 330%;
  margin-right: -50%;
  text-align: left;
  transform: translate(0%, -2200%);
  padding: 0.5%;
  background-color: transparent;
  top: 0%;
  height: 10%;
  width: 100%;
} */

.acercaDe h4 {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: normal;
  word-wrap: break-word;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 18px;
  margin-top: 60px;
}

.trabajos h4 {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: normal;
  word-wrap: break-word;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 18px;
  margin-top: 60px;
}

.diseno {
  margin-top: 20px;
  width: 35%;
  margin-left: 18px;
}

.overlay3 {
  width: 100%;
  height: 80%;
  position: relative;
  margin-left: 18px;
}

.overlay4 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  z-index: 1;
  position: absolute;
  left: 0%;
  margin-right: 0%;
  text-align: left;
  transform: translate(75%, -140%);
  padding: 0.5%;
  background-color: transparent;
  top: 0%;
  height: 20%;
  width: 50%;
}

.overlay4 br {
  display: flex;
  margin-left: 18px;
}

.conectaUDP {
  margin-top: 20px;
  width: 35%;
}

.overlay5 {
  width: 100%;
  height: 80%;
  position: relative;
}

.overlay6 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  z-index: 1;
  position: absolute;
  left: 0%;
  margin-right: 0%;
  text-align: left;
  transform: translate(75%, -195%);
  padding: 0.5%;
  background-color: transparent;
  top: 0%;
  height: 20%;
  width: 50%;
}

.overlay6 br {
  display: flex;
}

.visualizacion {
  margin-top: 20px;
  width: 45%;
}

.overlay7 {
  width: 100%;
  height: 80%;
  position: relative;
}

.overlay8 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  z-index: 1;
  position: absolute;
  left: 0%;
  margin-right: 0%;
  text-align: left;
  transform: translate(75%, -450%);
  padding: 0.5%;
  background-color: transparent;
  top: 0%;
  height: 20%;
  width: 50%;
}

.overlay8 br {
  display: flex;
}

.renunciaSacra {
  margin-top: 20px;
  width: 45%;
  transform: translate(-7%, 0%);
}

.overlay9 {
  width: 100%;
  height: 80%;
  position: relative;
}

.overlay10 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  z-index: 1;
  position: absolute;
  left: 0%;
  margin-right: 0%;
  text-align: left;
  transform: translate(75%, -2600%);
  padding: 0.5%;
  background-color: transparent;
  top: 0%;
  height: 20%;
  width: 50%;
}

.overlay10 br {
  display: flex;
}

footer {
  background-color: #000000;
  color: white;
  padding: 20px;
  text-align: right;
}

/* disenoAbierto.html */

.banner {
  width: 100%;
  height: 100%;
  object-fit: fill;
  align-items: center;
}

.titulo h3 {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: normal;
  word-wrap: break-word;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 20px;
  margin-top: 50px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-right: -100px;
  margin-left: 10px;
}

.column img {
  margin-top: 10px;
  width: 80%;
  height: auto;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.overlay11 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  z-index: 1;
  position: absolute;
  left: 0%;
  margin-right: 0%;
  text-align: left;
  transform: translate(140%, 463%);
  padding: 0.5%;
  background-color: transparent;
  top: 0%;
  height: 20%;
  width: 40%;
}

.ovelay12 {
  width: 100%;
  height: auto;
  position: relative;
}

/* conectaUDP.html */

.bannerUDP {
  width: 100%;
  height: 100%;
  object-fit: fill;
  align-items: center;
}

.titulo h3 {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: normal;
  word-wrap: break-word;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 20px;
  margin-top: 50px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-right: -100px;
  margin-left: 10px;
}

.column img {
  margin-top: 10px;
  width: 80%;
  height: auto;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.overlay11 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  z-index: 1;
  position: absolute;
  left: 0%;
  margin-right: 0%;
  text-align: left;
  transform: translate(140%, 463%);
  padding: 0.5%;
  background-color: transparent;
  top: 0%;
  height: 20%;
  width: 40%;
}

.ovelay12 {
  width: 100%;
  height: auto;
  position: relative;
}
